.container
  = render partial: "layouts/breadcrumbs", locals: {llaves_camino: [1,2,3], camino: {1 => {caption: "Inicio", ruta: root_path}, 2 => {caption: @patient.show_nombre, ruta: patient_path(@patient)}, 3 => {caption: "diagnósticos", ruta: patient_diagnoses_path(@patient)}}, actual: "nuevo diagnóstico" }

  .row
    .col
      %h1 

  .row
    .col
      = render 'form'

