.container
  = render partial: "layouts/breadcrumbs", locals: {llaves_camino: [1], camino: {1 => {caption: "Inicio", ruta: root_path}}, actual: "nuevo paciente" }
  .row
    .col
      %h1 Nuevo paciente

      = render 'form'
